*{
    /* background-color: rgb(6, 6, 5); */
    background-image: url("https://images.pexels.com/photos/326333/pexels-photo-326333.jpeg");
    background-repeat: no-repeat;
    background-size: cover;

    
}

.box1{
    border: 3px solid rgb(250, 249, 249);
    /*background-color: aliceblue;*/
    text-align: center;
    color: aliceblue;
    width: 250px;
    height: 50px;
   flex-wrap: wrap;
    margin-left: 450px;
    padding: 0px;
    button{
        width: 250px;
        height: 50px;

    }}

.container{
margin: 13px;
    display: flex;
    gap: 13px;
    flex-wrap: wrap;
   /* justify-content: space-evenly; */
    button{
        
        width: 160px;
        height: 180px;
        gap: ;
        display: flex;
        border: 3px solid rgb(247, 243, 243)
        ;
        
        
        
    }
    
   